main::after{
    content: "";
    position: absolute;
    background: white;

    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    height: 16rem;
    
    z-index: -1;
}

#page-search-results{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

#page-search-results header{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-search-results header a{
    color: var(--title-color);
    font-weight: bold;
    display: flex;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}

#page-search-results header a span{
    background-image: url('../assets/arrow-left.svg');
    width: 20px;
    height: 20px;
    display: flex;
    margin-right: 5px;
}

main {
    margin: 48px 0;
}

main h4{
    font-weight: normal;
    margin-bottom: 32px;
}

main .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

main img{
    width: 100%;
    height: 200px;

    object-fit: cover;

    border-radius: 8px 8px 0 0;
}

main .card h1{
    margin-top: 32px;

    font-size: 36px;
    line-height: 41px;
}

main .card h3{
    margin: 24px 0;

    font-family: Roboto;
    font-weight: bold;

    font-size: 24px;
    line-height: 34px;

    color: var(--primary-color);
}

main .card p{
    font-size: 16px;
    line-height: 26px;

    color: var(--p-color);
}