#page-create-point{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

#page-create-point header{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-create-point header a{
    color: var(--title-color);
    font-weight: bold;
    display: flex;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}

#page-create-point header a span{
    background-image: url('../assets/arrow-left.svg');
    width: 20px;
    height: 20px;
    display: flex;
    margin-right: 5px;
}